
<script type="text/javascript">
    <f:alias map="{ang: {s: '{{', e: '}}'}}">
    var sliders = {ang.s}
    {uid}: {ang.s}slider : '#slider_{uid}', nav: '#slider_nav_{uid}'{ang.e},
    {ang.s};
    </f:alias>
</script>


<script type="text/javascript">
    <f:for each="{0:1, 1:2, 2:3, 3:4}" as="foo" iteration="iterator">
        <f:if condition="{iterator.index} < {countUids}">
        <f:alias map="{ang: {s: '{{', e: '}}'}}">
    var sliders = {ang.s}
    {uid}: {ang.s}slider : '#slider_{uid}', nav: '#slider_nav_{uid}'{ang.e},
    {ang.s};
    </f:alias>
    </f:if>
    </f:for>
</script>