
$default-body: 12px;
$big-font: 24px;
$default-font: 18px;
$small-font: 14px;
$smaller-font: 10px;
$link-color: #D90007;
$gray-color: #333333;
$light-gray: #A7A9AC;


/* Dummy
-------------------------------------------------- */
a,
a:hover,
a:focus { 
  color: $link-color; 
  text-decoration: underline; 
}
a img { 
  border: 0 none; 
}
input,
select { 
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
}
.footer a,
.header a {
  color: #666;
}

html {
  min-height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-flex: 1;
}
body {
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
  background: #D1D2D4 url(../Images/bg/bg_decoration_1.gif) 1000px 51px no-repeat;
  color: $gray-color;
  font-size: $default-body;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;  
}
#bg { 
  color: #fff; 
  background: url(../Images/bg/bg_wrap.gif) left 106px no-repeat;  
  padding: 105px 0 0 0; 
  height: 345px; 
  width: 40px; 
  position: absolute; 
  left: 0; 
  top: 0; 
}
.main {
  width: 100%;
  max-width: 1000px;
  min-width: 240px;
  margin: 0;
  box-sizing: border-box;
}


/* Content
-------------------------------------------------- */

.container-inner {
  padding: 0 40px 0 50px;
  border-left: solid 40px #333333;
  border-right: solid 20px #C4C6C8;
  margin: 0 200px 0 0;
  min-height: 100%;
  background: #fff;
  min-height: 600px;
}

.content {
  margin-top: 30px;
  p { 
    line-height: 16px; 
    margin: 19px 0; 
  }
  h1 { 
    font-size: $big-font; 
    color: $link-color; 
    font-weight: normal; 
    margin: 0 0 19px 0; 
  }
  h2 { 
    font-size: $default-font;
    line-height: 16px; 
    font-weight: normal; 
    margin: 19px 0; 
  }
  h2.inside { 
    font-size: $default-font; 
    line-height: 16px; 
    font-weight: normal; 
    margin: 10px 0; 
   }
  h3 { 
    font-size: $small-font; 
    margin: 19px 0 5px 0; 
  } 
  h4 {
    font-size: $small-font;
    padding-bottom: 20px;     
  }
  li { 
    margin: 0 0 15px 20px; 
  }  
}

.banner { 
  margin: 0 0 29px 0; 
  float: left; 
  background: #A7A9AC right top no-repeat; 
  padding: 0 0 0 20px; 
  width: 100%;
  max-width: 242px;
  height: 105px;
  border-left: solid 10px #E3E4E6; 
  h2 {
    color: #FFFFFF; 
    font-size: $default-font; 
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    margin: 10px 0 10px;    
  }
  p {
    margin:5px 0;     
  }
  h3 {
    font-size: $small-font;
    margin: 19px 0 5px 0;
  }
  /*a {
    display: block; 
    width: 150px;
  }*/
  a:hover {
    text-decoration: underline; 
  }
  span {
    padding: 0 20px 0 0; 
    background: url(../Images/icons/ico-arrow-white.gif) right 6px no-repeat;     
  }
}

/* News
-------------------------------------------------- */
.news-item-row {
  margin-top: 30px; 
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px !important; 
  p {
    margin: 5px 0;
  }
  h3 {
    padding: 0;
    margin: 0;
    font-size: $small-font;
  }
}
.news-single {
  h1 {
    color: #000 !important;
    font-size: $default-font;
  }
}
a.link-back,  p.back-to-list a {
  line-height: 20px;
  padding: 0 0 0 20px;
  background: url(../Images/icons/ico-arrow-red-back.gif) left 7px no-repeat;
}
  
.lightgrey {
  font-size: $small-font;
  margin: 5px 0 2px 0;
  display: block;
  color: $light-gray;
}

/* News pagination
-------------------------------------------------- */
  
ul.f3-widget-paginator {
  font-size: 16px;
  li {
    list-style: none;
    display: inline-block;
    padding: 0 7px !important;
  }
  li.current {
    margin-top: 2px !important;
    padding: 1px 7px;
    background: #A7A9AC !important;
    color: #FFFFFF;
  }
}
.page-navigation {
  p {
    display: none;
  }
}



/* Row Images
-------------------------------------------------- */
.row-images-list .csc-textpic-image img {
  max-width: 100% !important;
  width: auto !important;
  height: auto;
}
.csc-textpic-image img {
  border: 10px solid #F0F1F2;
  padding: 0px 0px;
  display: block;
} 
.csc-textpic-imagewrap {
  max-width: 100% !important;
}
.row-images-list {
  margin-left: -15px;
  margin-right: -15px;
}

/* Gallery
-------------------------------------------------- */
.gallery {
  width: 100%;
  margin-left: 2%;
  &__item {
    width: 31%;
    float: left;    
    min-height: 190px;
    margin-right: 2%;
  }
  &__item img {
    width: 100%;
    height: auto;    
  }
  &__item-caption {
    text-align: center;
  }
}



/* Table 
-------------------------------------------------- */
table img {
  padding: 0 5px !important;
}

/* Custom content elemnets
-------------------------------------------------- */

.course-block {
  border: 1px dashed rgb(49, 106, 197) !important;
  padding: 10px 1px;  
  margin-bottom: 20px;
  
  &__description h2 {
    line-height: 26px;    
  }
  &__more {
    float: right;
    font-size: $default-font;
    margin-right: 30px;    
  }
  img {
    width: 100%;
    height: auto;    
  }
}

/* FCE Teachers
-------------------------------------------------- */

/*.master { 
  float: left; 
  margin: 20px 0 20px 0; 
  .image {
    float: left; 
    width: 100px; 
    margin: 0 20px 0 0;     
  }
  .description {
    margin: 0 0 0 120px;     
  }
}*/
/*
.teacher__image {
  marfin-top: 30px;
}
*/

/* Left column
-------------------------------------------------- */
.left-column {
  margin-left: 0;
  padding-left: 0;
  
  .row-images-list .csc-textpic-image img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;    
  }
  .csc-textpic-image img {
    border: none;
  }
}
.left-menu { 
  list-style: none; 
  margin: 0; 
  padding: 0;
  font-size: 12px;
  li {
    padding: 0 0 3px 0;  
    a {
      color: $link-color; 
      line-height: 15px; 
      display: block; 
      padding: 5px 0 5px 10px; 
      text-decoration: underline;       
    }  
  }
  li.active a,
  li a:hover {
    color: $gray-color; 
    background: #F0F1F2;
    /*background: #F0F1F2 url(../Images/icons/ico-arrow-red.gif) 251px 13px no-repeat; */    
  }  
  li.active a {
    text-decoration: none;   
  }
  li.active a:hover {
    text-decoration: underline; 
  }
}


/* Right column
-------------------------------------------------- */
.right-column {
  padding-left: 25px;
  border-left: solid 11px #F0F1F2;  
}



/* Footer
-------------------------------------------------- */

.footer {
  width: 100%;
  max-width: 1000px;
  min-width: 240px;
  min-height: 81px;
  color: #000;
  padding: 15px;
  box-sizing: border-box;
  
  border-left: solid 40px $gray-color;
  border-right: solid 20px #C4C6C8; 
  background: #fff url(../Images/bg/bg_center.jpg) left bottom no-repeat; 
  
  &__right {
    margin-left: -30px;    
  }
  &__menu {
    list-style: none;
    margin: 0 0 30px -40px;
    float: left;
    font-size: $smaller-font;     
    li {
      float: left;   
      span {
        font-size: $smaller-font;
        padding: 0 8px;
        color: #D1D2D4;        
      }   
    }    
  }
  &__left {
    p {
      font-size: $smaller-font;      
    }
    h3 {
      font-size: $default-font;
      color: $gray-color;       
    }
  }
  &__info {
    color: #A7A9AC;
    font-size: $smaller-font;    
  }
}

.developer a {
  color: $link-color;
}



#toTop {
  width:100px;
  border:1px solid #ccc;
  background:#f7f7f7;
  text-align:center;
  padding:5px;
  position:fixed; 
  bottom:10px; 
  left:10px;
  cursor:pointer;
  display:none;
  color:#333;
  font-family:verdana;
  font-size:11px;
  z-index: 99999;
}