<div class="about__video">
        <video src="<f:uri.typolink parameter="{data.header_link}" />" muted></video>
    <div class="video-vol-control"></div>
</div>

<div class="about-container">
    <f:if condition="{images.0}">
        <f:image class="about" src="{images.0.uid}"
            treatIdAsReference="1"
            alt="{images.0.alternative}"
            title="{images.0.title}"
            maxWidth="1600" />
    </f:if>
    <f:if condition="{data.bodytext}">
        <div class="about-text">
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </f:if>
</div>