<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page" />
	<f:section name="Configuration">
		<flux:form id="homepage">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
		</flux:form>
		<flux:grid>
			<!-- Edit this grid to change the "backend layout" structure -->
			<flux:grid.row>
				<flux:grid.column colPos="1" name="main" label="{f:translate(key: 'flux.content_area', extensionName: 'vostokzapadesign_site')}" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
			<v:content.render column="1" />
			<f:cObject typoscriptObjectPath="lib.content.right" />			
	</f:section>
</div>
