<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="textpage__imgs">
    <f:for each="{media}" as="mediaElement" key="number" iteration="itemIteration">
        <f:if condition="{itemIteration.index} == '0' ">
            <div class="col col-1">
                <f:image image="{mediaElement}" width="415c" height="282c" title="{image.title}" alt="{image.alternative}" />
            </div>
        </f:if>
    </f:for>

    <div class="col col-2 xs-hidden js-textpage__imgs">
        <f:for each="{media}" as="mediaElement" key="number" iteration="itemIteration">
            <f:if condition="{itemIteration.index} == '1' ">
                <div class="row row-1">
                    <f:image image="{mediaElement}" width="252c" height="141c" alt="{image.properties.alt}" title="{image.properties.title}" />
                </div>
            </f:if>
            <f:if condition="{itemIteration.index} == '2' ">
                <div class="row row-2">
                    <f:image image="{mediaElement}" width="170c" height="141c" alt="{image.properties.alt}" title="{image.properties.title}" />
                </div>
            </f:if>
        </f:for>
    </div>

    <f:for each="{media}" as="image" key="number" iteration="itemIteration">
        <f:if condition="{itemIteration.isFirst}">
            <a data-fancybox="images"
               class="gallery-btn"
               data-type="image"
               href="{f:uri.image(image:image, treatIdAsReference:1 maxWidth:'1000')}">
                <span class="gallery-icon"><f:translate key="ce.gallery" extensionName="tmpl" /></span>
            </a>
        </f:if>
    </f:for>

    <div style="display:none;" class="more-photo">
        <f:for each="{media}" as="image" key="number" iteration="itemIteration">
            <f:if condition="{itemIteration.isFirst}">
                <f:then></f:then>
                <f:else>
                    <a data-fancybox="images"
                       data-type="image"
                       href="{f:uri.image(image:image, treatIdAsReference:1 maxWidth:'1000')}">
                        <f:image image="{image}" alt="{image.properties.alt}" title="{image.properties.title}" />
                    </a>
                </f:else>
            </f:if>
        </f:for>
    </div>
</div>

</html>