<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="banner" options="{group: 'FCE'}">
			<flux:form.sheet name="banner" label="{f:translate(key: 'flux.banner', extensionName: 'vostokzapadesign_site')}">
				<flux:field.checkbox name="isLast" label="{f:translate(key: 'banner.isLast', extensionName: 'vostokzapadesign_site')}" />
				<flux:field.input name="title" label="{f:translate(key: 'banner.title', extensionName: 'vostokzapadesign_site')}"/>
				<flux:field.file name="image" allowed="jpg,png,jpeg,gif" showThumbnails="1" label="{f:translate(key: 'banner.image', extensionName: 'vostokzapadesign_site')}"/>
				<flux:field.text name="text" enableRichText="1" label="{f:translate(key: 'banner.text', extensionName: 'vostokzapadesign_site')}"/>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<table width="100%" cellspacing="10" cellpadding="10">
			<tr>
				<td>{title}</td>			
        <td width="80" style="background-image:url('{v:site.url()}{image}');
        	background-position:center center;background-size:cover;">
				</td>
			</tr>			
			<tr>
				<td>{text -> f:format.html()}</td>
			</tr>
		</table>
	</f:section>

	<f:section name="Main">
		<f:if condition="{isLast}">
			<f:then>
				<div class="banner no-margin-right" style="background-image:url({v:site.url()}{image});">
				<h3>{title -> f:format.html()}</h3>
					{text -> f:format.html()}
				</div>			
			</f:then>
			<f:else>
				<div class="banner" style="background-image:url({v:site.url()}{image});">
				<h3>{title -> f:format.html()}</h3>
					{text -> f:format.html()}
				</div>			
			</f:else>
		</f:if>

	</f:section>
</div>
