<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="course" options="{group: 'FCE'}">
			<flux:form.sheet name="course" label="{f:translate(key: 'flux.course', extensionName: 'vostokzapadesign_site')}">
				<flux:field.input name="title" label="{f:translate(key: 'course.title', extensionName: 'vostokzapadesign_site')}"/>
				<flux:field.input name="subtitle" label="{f:translate(key: 'course.subtitle', extensionName: 'vostokzapadesign_site')}"/>
				<flux:field.file name="image" allowed="jpg,png,jpeg,gif" showThumbnails="1" label="{f:translate(key: 'course.image', extensionName: 'vostokzapadesign_site')}"/>
				<flux:field.text name="text" enableRichText="1" label="{f:translate(key: 'course.text', extensionName: 'vostokzapadesign_site')}"/>
        <flux:field.input name="link" label="Link to destination page" >
					<flux:wizard.link/>
				</flux:field.input>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<table width="100%" cellspacing="10" cellpadding="10">
			<tr>
				<td>{title}</td>
			</tr>
			<tr>
				<td>{position -> f:format.html()}</td>
        <td width="80" height="80" style="background-image:url('{v:site.url()}{image}');
        	background-position:center center;background-size:cover;">
				</td>
			</tr>			
		</table>
	</f:section>
	
	<f:section name="Main">
	<div class="row course-block">	
  	<div class="col-lg-3 col-md-4 col-sm-5 course-block__image">
  		<f:if condition="{image}">
  			<f:image src="{image}" alt="{title}" title="{title}" width="640c" />
  		</f:if>
  	</div>
  	
		<div class="col-lg-9 col-md-8 col-sm-7 course-block__description">
			<f:if condition="{subtitle}">
				<b>{subtitle}</b>
			</f:if>
			<f:if condition="{title}">
				<h2>{title}</h2>
			</f:if>
			<f:if condition="{text}">
				{text -> f:format.html()}
			</f:if>		
			<f:if condition="{link}">
				<div class="course-block__more">
					<a href="{f:uri.page(pageUid: '{link}')}">
						{f:translate(key: 'course.more', extensionName: 'vostokzapadesign_site')}
					</a>
				</div>
			</f:if>		
		</div>
	</div> 
	<div class="clear"></div>
	</f:section>
</div>