<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	  
	  
	  <f:debug title="All available variables">{_all}</f:debug>

	<div class="media__item media__item_size-big">
	    <a href="#" >
	    	<div class="img-container">
				<f:if condition="{newsItem.falMediaPreviews}">
					<!-- media preview element -->
					<f:then>
						<f:alias map="{mediaElement: '{newsItem.falMediaPreviews.0}'}">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:image class="stock__img" image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.last.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.last.media.image.maxHeight)}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 4">
								<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 5">
								<f:image class="stock__img" image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.last.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.last.media.image.maxHeight)}"/>
							</f:if>
						</f:alias>
					</f:then>
					<f:else>
						<f:if condition="{settings.displayDummyIfNoMedia}">
								<f:image class="stock__img" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.last.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.last.media.image.maxHeight)}"/>
						</f:if>
					</f:else>
				</f:if>
			
				<div class="stock-text stock-text_absolute">
			    	<div class="stock-text__date">
		    			<span >
							<f:format.date format="{f:translate(key:'news.dateFormat', extensionName: 'tmpl')}">{newsItem.datetime}</f:format.date>
							<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />    	
		    			</span>
		    		</div>
		    		<div class="stock__title" >
			      		<h3><span itemprop="headline">{newsItem.title}</span></h3>
		    		</div>
				</div>
			</div>
	    </a>
			   	
	</div>
</html>