<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/FirstItem.html
-->

<div class="stock__item stock__item_size-big" itemscope="itemscope" itemtype="http://schema.org/Article">
    <n:excludeDisplayedNews newsItem="{newsItem}"/>

    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="media__item-inher">
        <div class="img-container">
            <f:if condition="{newsItem.mediaPreviews}">
                <!-- media preview element -->
                <f:then>
                    <f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}"
                                     width="{settings.first.media.image.width}"
                                     height="{settings.first.media.image.height}"
                                     class="media__img" />
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 4">
                            <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 5">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}"
                                     width="{settings.first.media.image.width}"
                                     height="{settings.first.media.image.height}"
                                     class="media__img"  />
                            </f:if>
                    </f:alias>
                </f:then>
                <f:else>
                    <f:if condition="{settings.displayDummyIfNoMedia}">
					    <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                            width="{settings.first.media.image.width}"
                            height="{settings.first.media.image.height}"
                            class="media__img"  />
                    </f:if>
                </f:else>
            </f:if>
        </div>
        <div class="stock-text stock-text_absolute">
            <div class="stock-text__date">
                <span>
                    <f:format.date format="{f:translate(key:'news.listDateFormat', extensionName: 'tmpl')}">{newsItem.datetime}</f:format.date>
                </span>
            </div>
            <div class="stock__title">
                <h3>{newsItem.title}</h3>
            </div>
        </div>
        <f:if condition="{newsItem.inAction}">
            <div class="stock__label">
                <f:translate key="news.action" extensionName="tmpl" />
            </div>
        </f:if>
    </n:link>
</div>

</html>