.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 18px;
  padding-left: 24px;
  padding-right: 29px;
  -webkit-transition: opacity 0.5s ease 0.1s, visibility 0s ease 0s;
  transition: opacity 0.5s ease 0.1s, visibility 0s ease 0s;
}

.nav {
  padding-top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 821px;
}

.nav-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 87%;
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 38px;
  letter-spacing: 0.1em;
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
}

.nav-ul.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.dark .nav-ul {
  color: #002850;
}

.header-menu__button-active {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #b10f18;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.header-menu__button-active span:after,
.header-menu__button-active span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.header-menu__button-active span:after {
  top: 9px;
}

.header-menu__button-active span {
  position: relative;
  display: block;
}

.header-menu__button-active span,
.header-menu__button-active span:after,
.header-menu__button-active span:before {
  width: 30px;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu__button-active.on span {
  background-color: transparent;
}

.header-menu__button-active.on span:before {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
  -ms-transform: rotate(45deg) translate(6px, 6px);
  transform: rotate(45deg) translate(6px, 6px);
}

.header-menu__button-active.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-left: 26px;
  padding-bottom: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer.open {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__worldwide {
  color: #004692;
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  padding-left: 10px;
}

.footer__link {
  display: block;
  color: #d4d4d4;
  font-family: "Myriad Pro";
  font-size: 10px;
  font-style: italic;
  text-decoration: underline;
  padding-left: 25px;
  margin-top: -3px;
}

.social__item {
  width: 31px;
  height: 30px;
  display: block;
  margin-right: 3px;
  background: url("../img/cosial-sprite.png");
}

.social-vk {
  background-position: -34px 0;
}

.social-yt {
  background-position: -66px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow: unset;
}

.breadcrumbs {
  font-family: Arial;
  font-size: 10px;
  font-style: italic;
  color: #444649;
  padding-left: 31px;
  padding-bottom: 10px;
}

.breadcrumbs__current {
  color: #c90910;
}

.def-text {
  color: #4c4c4c;
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
}

.logo {
  display: block;
  width: 191px;
  margin-top: -16px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  color: #004fa4;
  font-size: 30px;
  font-size: Arial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h2-line {
  color: #004fa4;
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding-left: 25px;
}

.h2-line::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -2px;
  width: 23px;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  height: 5px;
  background-color: #c90910;
}

.h1-line {
  color: #004fa4;
  font-family: Arial;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  padding-left: 25px;
}

.h1-line::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 1px;
  width: 23px;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  height: 5px;
  background-color: #c90910;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  background-color: #a6a6a6;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: #004fa4;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 4.7px 0.4px rgba(21, 0, 222, 0.27);
  box-shadow: 0 0 4.7px 0.4px rgba(21, 0, 222, 0.27);
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #004fa4;
}

.section {
  min-height: 100vh;
  height: 100vh;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 2s ease 0.2s;
  transition: opacity 2s ease 0.2s;
}

.section.current {
  opacity: 1;
}

.section.visible:after {
  -webkit-transform: translateX(0%) skewX(-11deg);
  -ms-transform: translateX(0%) skewX(-11deg);
  transform: translateX(0%) skewX(-11deg);
}

.section.scrolled:after {
  width: 125%;
  -webkit-transform: translateX(0%) skewX(-11deg);
  -ms-transform: translateX(0%) skewX(-11deg);
  transform: translateX(0%) skewX(-11deg);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.section:after {
  content: "";
  position: absolute;
  width: 29%;
  height: 100%;
  left: -19%;
  top: 0;
  background-color: #fff;
  -webkit-transform: translateX(-100%) skewX(-11deg);
  -ms-transform: translateX(-100%) skewX(-11deg);
  transform: translateX(-100%) skewX(-11deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.container {
  max-width: 1194px;
  width: 100%;
  margin: 0 auto;
}

.section-about {
  background: url("../img/section-1-bg.png") no-repeat;
  background-size: cover;
}

.about__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.about__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-vol-control {
  position: absolute;
  left: 50%;
  width: 40px;
  height: 40px;
  bottom: 40px;
  background: url("../img/volon.svg");
  background-size: contain;
  opacity: 0.5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
}

.video-vol-control.on {
  background: url("../img/voloff.svg");
  background-size: contain;
}

.about-container {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0%, -54.8%);
  -ms-transform: translate(0%, -54.8%);
  transform: translate(0%, -54.8%);
}

.about-container.hidden {
  -webkit-transform: translate(100vw, -54.8%);
  -ms-transform: translate(100vw, -54.8%);
  transform: translate(100vw, -54.8%);
}

.about-text {
  position: absolute;
  font-size: 35px;
  font-family: Aria;
  font-weight: 700;
  font-family: Arial;
  font-style: italic;
  left: 216px;
  width: 420px;
  color: #fff;
  bottom: -2px;
  line-height: 1.19em;
}

.about-text p:first-child {
  padding-left: 18px;
}

.about-text p:nth-child(2) {
  padding-left: 8px;
}

.section-stock {
  background: #fff url("../img/section-2-bg.png") no-repeat top right;
  background-size: auto 100%;
}

.stock-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-47.5%);
  -ms-transform: translateY(-47.5%);
  transform: translateY(-47.5%);
}

.stock-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 34px;
}

.stock__img {
  display: block;
}

.stock__item,
.media__item {
  background: #fff;
  opacity: 0;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  -webkit-transition: opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 0.6s;
  transition: opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 0.6s;
  transition: transform 0.7s ease 0.6s, opacity 1.5s linear 0.8s;
  transition: transform 0.7s ease 0.6s, opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 0.6s;
}

.current .stock__item,
.current .media__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.current .stock__item:nth-child(2),
.current .media__item:nth-child(2) {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 0.8s;
  transition: opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 0.8s;
  transition: transform 0.7s ease 0.8s, opacity 1.5s linear 0.8s;
  transition: transform 0.7s ease 0.8s, opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 0.8s;
}

.current .stock__item:nth-child(3),
.current .media__item:nth-child(3) {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 1s;
  transition: opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 1s;
  transition: transform 0.7s ease 1s, opacity 1.5s linear 0.8s;
  transition: transform 0.7s ease 1s, opacity 1.5s linear 0.8s, -webkit-transform 0.7s ease 1s;
}

.stock__item_size-big,
.media__item_size-big {
  width: 48.912%;
  min-height: 435px;
  position: relative;
}

.stock__item_size-big::before,
.media__item_size-big::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0.3) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0.3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000000', endColorstr='#96ffffff',GradientType=1 );
  /* IE6-9 */
  pointer-events: none;
}

.stock__item_size-small,
.media__item_size-small {
  width: 24.54%;
  height: auto;
  min-height: 435px;
}

.stock__title {
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  max-width: 340px;
}

.stock__title h3 {
  font-weight: 400;
  font-size: 18px;
}

.stock-text {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 23px;
}

.stock-text_absolute {
  position: absolute;
  left: 40px;
  top: 20px;
}

.stock-text__date {
  color: #b0b0b0;
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 8px;
}

.stock-text__text {
  padding-bottom: 30px;
}

.stock-text__link {
  color: #b0b0b0;
  font-family: Arial;
  font-size: 10px;
  font-style: italic;
  text-decoration: underline;
  text-align: right;
  padding-bottom: 20px;
}

.section-oil {
  background: #fff url("../img/section-3-bg.png") no-repeat top right;
  background-size: auto 100%;
}

.section-oil__about {
  max-width: 60%;
  padding-left: 106px;
}

.oil-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-43.5%);
  -ms-transform: translateY(-43.5%);
  transform: translateY(-43.5%);
}

.oil-container__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.oil__title {
  color: #646464;
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  max-width: 225px;
  text-align: center;
  cursor: pointer;
}

.oil-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 48px;
  width: 83.8%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.oil__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 31%;
  margin-bottom: 30px;
}

.oil__img {
  cursor: pointer;
}

.map {
  width: 100%;
  position: absolute;
  top: 104px;
  bottom: 0;
}

.map-container__top {
  position: relative;
}

.map-is {
  position: relative;
  padding-top: 150px;
  z-index: 2;
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
  pointer-events: none;
}

.section-map-single {
  min-height: -webkit-calc(100vh - 106px);
  min-height: calc(100vh - 106px);
  height: 100%;
}

.section-map {
  background: #fff url("../img/section-4-bg.png") no-repeat center center;
  background-size: auto auto;
}

.section-map.no-bg {
  background: unset;
}

.map-container {
  position: relative;
  padding-top: 75px;
}

.section-map__about {
  max-width: 55%;
  padding-top: 14px;
  padding-left: 25px;
}

.map-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 76px;
  padding-right: 5px;
}

.search-form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  pointer-events: none;
  padding-left: 20px;
}

.map-input__text {
  color: #040404;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  background: #fff;
  padding: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 375px;
  pointer-events: initial;
}

.map-input__text::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #040404;
}

.map-input__text::-moz-placeholder {
  /* Firefox 19+ */
  color: #040404;
}

.map-input__text:-ms-input-placeholder {
  /* IE 10+ */
  color: #040404;
}

.map-input__text:-moz-placeholder {
  /* Firefox 18- */
  color: #040404;
}

.map-input__submit {
  height: 34px;
  background-color: #c8080f;
  padding-left: 33px;
  padding-right: 33px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: none;
  margin: 0;
  color: #f9f9f9;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 68px;
  outline: none;
  cursor: pointer;
}

.search-submit {
  margin-top: 0;
}

.autocomplete-suggestions {
  background: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e3e3e3;
}

.autocomplete-suggestion {
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}

.ymaps-2-1-68-balloon__layout {
  background: rgba(0, 75, 161, 0.9) !important;
  color: #fff;
  overflow: visible !important;
}

.ymaps-2-1-68-balloon__content {
  background: none !important;
}

.ymaps-2-1-68-balloon_to_top .ymaps-2-1-68-balloon__tail {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  background: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ymaps-2-1-68-balloon__tail:after {
  width: 0 !important;
  height: 0 !important;
  background: none !important;
  border-style: solid;
  border-width: 18px 18px 0 18px;
  border-color: rgba(0, 75, 161, 0.9) transparent transparent transparent;
  content: "";
}

.ymaps-2-1-68-balloon__close-button {
  background: red !important;
  opacity: 1 !important;
  background: #c8080f url("../img/closeicon.png") no-repeat center !important;
  background-size: 50% !important;
  width: 30px !important;
  height: 30px !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.ballon-link {
  text-decoration: underline;
}

.modal-contact-outer {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/contactsbasicbg.png") center center no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, visibility 0.5s 0s;
  transition: opacity 0.5s linear, visibility 0.5s 0s;
}

.modal-contact-outer.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s linear, visibility 0s 0s;
  transition: opacity 0.5s linear, visibility 0s 0s;
}

.basic-modal-outer {
  background: url("../img/basicmodalbg.png") center center no-repeat;
  background-size: cover;
}

.modal-contact-inner {
  background: url("../img/contactmodalbg.png") bottom center no-repeat;
  background-size: cover;
  position: absolute;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  height: 70vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.basic-modal-inner {
  max-width: 325px;
  background: url("../img/basicinnnerbg.png") bottom center no-repeat;
  background-size: cover;
  height: auto;
  min-height: 70vh;
}

.modal-contact__info {
  margin-top: 30px;
}

.modal-contact__title {
  color: #444649;
  font-size: 25px;
  font-family: "Roboto Condensed";
}

.modal-contact__text,
.modal-contact__link {
  color: #444649;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 30px;
}

.modal-contact__link {
  font-weight: 700;
  text-decoration: underline;
}

.modal-default__text {
  margin-top: 20px;
  color: #444649;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.modal-default__text p {
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #c8080f url("../img/closeicon.png") no-repeat center center;
  background-size: 60%;
  cursor: pointer;
}

.basic-modal__info {
  min-height: 50vh;
}

.modal-products {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, visibility 0s 1s;
  transition: opacity 0.5s linear, visibility 0s 1s;
  pointer-events: none;
}

.modal-products.active {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s linear, visibility 0s 0s;
  transition: opacity 0.5s linear, visibility 0s 0s;
}

.modal-products .oil__item {
  margin-bottom: 50px;
}

.modal-products .section-oil__about {
  max-width: 50%;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-oil--page {
  min-height: -webkit-calc(100vh - 106px);
  min-height: calc(100vh - 106px);
}

.section-oil--page .oil-items {
  padding-bottom: 106px;
}

.section-oil--page .oil-container {
  position: relative;
  top: 106px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.close-products {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  background-size: 50%;
  z-index: 1;
}

.onepage-pagination {
  top: unset;
  bottom: 15px;
  margin: 0 auto;
  height: 15px;
  width: 200px;
  left: 0;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.onepage-pagination li a {
  display: block;
  cursor: pointer;
  margin-right: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #696969;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.onepage-pagination li a:hover {
  opacity: .8;
}

.onepage-pagination li a.active {
  background-color: #696969;
}

.onepage-pagination li a::before {
  display: none;
}

.stock__label {
  position: absolute;
  top: 21px;
  left: -6px;
  z-index: 2;
  line-height: 52px;
  text-align: center;
  overflow: hidden;
  padding-right: 30px;
  padding-left: 10px;
  color: #fefefe;
  font-family: Arial;
  font-size: 17px;
  font-style: italic;
  text-transform: uppercase;
}

.stock__label::after {
  content: '';
  position: absolute;
  top: 0;
  left: -23px;
  height: 52px;
  width: 100px;
  background: #f22933;
  z-index: -1;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.section-media {
  height: auto;
}

.section-media:after {
  content: unset;
}

.media-body {
  background: url("../img/media-section-bs.png") no-repeat top right;
  background-size: auto 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.media-header {
  opacity: 1;
  visibility: visible;
  background-color: #ffffff;
}

.media-footer {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: static;
}

.media-container {
  padding-top: 118px;
  padding-bottom: 54px;
}

.media-items {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -3.5px;
  margin-right: -3.5px;
}

.media__item {
  background: none;
}

.media__item_size-small {
  width: 25%;
  padding: 3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.media__item_size-big {
  width: 50%;
  padding: 3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.media__item_size-big:before {
  content: none;
}

.media__item_size-big .media__item-inher::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0.3) 100%);
  pointer-events: none;
}

.media__item_size-big .stock__label {
  top: unset;
  bottom: 20px;
  display: block;
}

.media__item-inher {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

.media__item-inher {
  outline: none;
}

.media__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

main.padding {
  padding-top: 75px;
}

.catalog-body {
  background: url("../img/media-section-bs.png") no-repeat top right;
  background-size: auto 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.catalog__text {
  width: 55%;
  color: #444649;
  font-family: Arial;
  font-size: 18px;
  margin-top: 8px;
  font-weight: 400;
  direction: rtl;
  text-align: left;
  height: 128px;
  line-height: 21px;
}

.catalog-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1043px;
  margin-top: 54px;
  margin-left: -21px;
}

.catalog__item {
  width: 23%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 70px;
}

.catalog__item-text {
  text-align: center;
  margin-top: -3px;
}

.catalog__title {
  color: #646464;
  font-family: Arial;
  font-size: 21px;
  font-style: italic;
  margin-bottom: 7px;
}

.catalog__description {
  color: #394756;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 0px;
  padding-right: 22px;
}

.catalog-filter {
  width: 370px;
  margin: 0 auto;
  margin-top: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 16px;
}

.catalog-fiter-title {
  font-family: "Arial";
  font-style: italic;
  text-align: center;
  color: #c90910;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 8px;
}

.filter-item {
  position: relative;
}

.filter-item:hover .filter__title:after {
  opacity: 1;
  visibility: visible;
}

.filter-item:last-child .filter__items:after {
  left: unset;
  right: 28px;
}

.filter-item:last-child .filter__items-outer {
  left: unset;
  right: 0;
}

.filter__items {
  position: relative;
  padding: 20px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
  background-color: #3b6597;
  width: 565px;
}

.filter__items span {
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.filter__items-outer {
  position: absolute;
  padding-top: 10px;
  top: -webkit-calc(100% - 5px);
  top: calc(100% - 5px);
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: 0.2s visibility, height 0.22s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.2s visibility, height 0.22s cubic-bezier(0.19, 1, 0.22, 1);
}

.filter__items-outer.active {
  height: 210px;
  visibility: visible;
}

.filter__title {
  background-color: #7a7a7a;
  display: inline-block;
  color: white;
  font-family: Arial;
  font-size: 14px;
  line-height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  text-decoration: underline;
  cursor: default;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

.filter__title.is-active {
  background-color: #2c2c2c;
}

.filter__title.active {
  background-color: #2c2c2c;
}

.filter__title.active:after {
  opacity: 1;
  visibility: visible;
}

.filter__title:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #3b6597;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.22s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.22s cubic-bezier(0.19, 1, 0.22, 1);
}

.filter-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 370px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-form {
  position: relative;
}

.filter__title.is-active .filter__clear {
  opacity: 0.75;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.filter__clear {
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 16px;
  height: 16px;
  background-color: #004fa4;
  opacity: 0;
  -webkit-transition: all 0.22s ease;
  transition: all 0.22s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.filter__clear:hover {
  opacity: 1;
}

.filter__clear:before,
.filter__clear:after {
  content: '';
  width: 14px;
  height: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.filter__clear:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter__clear:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.selected {
  color: white;
  text-decoration: underline;
}

.section-card {
  height: auto;
}

.section-card:after {
  content: unset;
}

.card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 63px;
  padding-bottom: 50px;
}

.card-body {
  background: url("../img/card-bg.png") no-repeat top right;
  background-size: auto 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-content {
  padding-top: 5px;
  padding-left: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-content__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card__text {
  width: 100%;
}

.card-item {
  margin-top: 38px;
  padding-left: 30px;
}

.card-info_margin-top {
  margin-top: 43px;
}

.card__title {
  color: #646464;
  font-family: Arial;
  font-size: 36px;
  font-style: italic;
  letter-spacing: -0.04em;
}

.card__ul {
  color: #444649;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
  line-height: 21px;
  margin-left: 4px;
  list-style-type: none;
  counter-reset: num;
}

.card__ul li {
  position: relative;
}

.card__ul li::before {
  content: ' ';
  position: absolute;
  counter-increment: num;
  width: 5px;
  height: 5px;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #444649;
}

.card-table {
  padding-top: 37px;
  padding-left: 3px;
}

.card__th {
  margin-bottom: 25px;
}

.card__th,
.card__tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #444649;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.card__indicators {
  width: auto;
  min-width: 40.5%;
  max-width: 40.5%;
}

.card__unit {
  width: auto;
  min-width: 17.5%;
  max-width: 17.5%;
}

.card__value {
  width: auto;
  min-width: 23%;
  max-width: 23%;
}

.card__method {
  width: auto;
}

.card-left {
  max-width: 55.2%;
}

.card-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card__link {
  display: inline-block;
  color: #444649;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 59px;
  padding-right: 72px;
  text-decoration: underline;
  background: url("../img/link-icon.png") no-repeat right center;
}

.card__link-container {
  margin-top: -25px;
  padding-left: 78px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.md-card-right {
  display: none;
}

.more-photo {
  display: none;
}

.textpage-content {
  text-align: left;
  direction: rtl;
  min-height: 600px;
  padding-bottom: 40px;
  margin-top: 29px;
}

.textpage-content h3 {
  color: #444649;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.textpage-container {
  padding-top: 37px;
}

.textpage__text {
  color: #444649;
  font-family: Arial;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 67%;
}

.textpage__text p:not(:last-child) {
  margin-bottom: 31px;
}

.textpage__imgs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  width: 100%;
  height: 282px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 26px;
  overflow: auto;
}

.textpage__imgs .mCSB_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 10px;
}

.textpage__imgs .col a {
  display: block;
  width: auto;
  height: 100%;
}

.textpage__imgs .col-1,
.textpage__imgs .col-1 a {
  width: 415px;
  height: 100%;
}

.textpage__imgs img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.js-textpage__imgs .row {
  height: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
}

.js-textpage__imgs .row img.hide {
  display: none;
}

.js-textpage__imgs .row img.show {
  display: block;
}

.js-textpage__imgs .row-1 img {
  width: 252px;
}

.js-textpage__imgs .row-2 img {
  width: 170px;
}

.text-page__h2 {
  max-width: 58%;
  line-height: 1.15em;
}

.textpage__text-containter {
  direction: ltr;
}

.gallery-btn {
  width: 82px;
  height: 50%;
  max-width: 82px;
  background-color: #3b6597;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 13px;
  cursor: pointer;
  outline: none;
  -webkit-transition: opacity 0.22s ease-out;
  transition: opacity 0.22s ease-out;
}

.gallery-btn:hover {
  opacity: 0.8;
}

.gallery-icon {
  padding-top: 46px;
  background: url("../img/plusicon.png") no-repeat top center;
  color: white;
  font-family: Arial;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.search {
  width: 61%;
  padding-bottom: 332px;
}

.search__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 57px;
  position: relative;
  z-index: 1;
}

.search__field,
.search__button {
  outline: none;
  height: 100%;
  border: none;
}

.search__field {
  width: 100%;
  padding-left: 28px;
  background-color: #f7f7f7;
  font-size: 18px;
  letter-spacing: -0.4px;
}

.search__field::-webkit-input-placeholder {
  color: #282828;
}

.search__field::-moz-placeholder {
  color: #282828;
}

.search__field:-ms-input-placeholder {
  color: #282828;
}

.search__field::placeholder {
  color: #282828;
}

.search__field::-webkit-input-placeholder {
  color: #282828;
}

.search__field:-moz-placeholder {
  color: #282828;
}

.search__field::-moz-placeholder {
  color: #282828;
}

.search__field:-ms-input-placeholder {
  color: #282828;
}

.search__button {
  width: 106px;
  background-color: #01499f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  text-transform: uppercase;
}

.search__list {
  margin-top: 67px;
}

.search__result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Arial;
  margin-bottom: 26px;
}

.search__result-image {
  width: 134px;
  min-width: 134px;
  height: 88px;
}

.search__result-info {
  padding-top: 8px;
  padding-left: 42px;
}

.search__result-title {
  color: #01499f;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}

.search__result-title:hover {
  text-decoration: none;
}

.search__result p {
  padding-top: 10px;
  color: #444649;
  font-size: 18px;
  font-weight: 400;
}

.map-body {
  overflow-y: auto;
}

.map-block {
  position: fixed;
  top: 20px;
  right: -4rem;
  width: 55rem;
  height: -webkit-calc(100vh + 90px);
  height: calc(100vh + 90px);
  overflow: hidden;
}

.map-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: skewX(-14deg) translateX(-64%);
  -ms-transform: skewX(-14deg) translateX(-64%);
  transform: skewX(-14deg) translateX(-64%);
}

.map-block #map {
  will-change: transform;
  position: absolute;
  width: 150%;
  height: 100%;
  top: -6%;
  right: -30%;
}

.media-container.company {
  padding-bottom: 10px;
}

.company-info {
  font-family: "Arial";
  padding-left: 19px;
  padding-bottom: 200px;
  max-width: 490px;
}

.company-info__status {
  padding-left: 7px;
  position: relative;
  z-index: 1;
  color: #646464;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.company-info__text {
  padding-left: 7px;
  padding-top: 142px;
  color: #444649;
  font-size: 18px;
  font-weight: 400;
}

.company-info__text-contact {
  line-height: 21px;
}

.company-info__text-contact span {
  font-weight: 700;
}

.company-info__text p {
  padding-top: 24px;
  line-height: 21px;
}

.company-info__btn {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 225px;
  height: 58px;
  background-color: #033f81;
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
  outline: none;
}

.company-info__btn:hover {
  opacity: .8;
}

.light-gallery div {
  display: none;
}

@media screen and (min-width: 2000px) {
  .map-block:before {
    width: 500px;
    -webkit-transform: skewX(-14deg) translateX(-70%);
    -ms-transform: skewX(-14deg) translateX(-70%);
    transform: skewX(-14deg) translateX(-70%);
  }
}

@media only screen and (max-width: 1560px) {
  .section:after {
    width: 31%;
  }
}

@media only screen and (max-width: 1199.98px) {
  .nav {
    min-width: unset;
    width: -webkit-calc(100vw - 320px);
    width: calc(100vw - 320px);
  }

  .nav-ul {
    min-width: 90%;
  }

  .section:after {
    left: -13%;
  }

  .container {
    width: 960px;
  }

  .stock__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .img-container {
    width: 100%;
    height: 100%;
  }

  .section-oil__about {
    max-width: 50%;
    padding-left: 50px;
  }

  .modal-products .section-oil__about {
    max-width: 70%;
  }

  .onepage-pagination {
    bottom: 80px;
  }

  .catalog-items {
    margin-left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .catalog__item {
    width: 28%;
  }

  .catalog__item:not(:nth-child(3n)) {
    margin-right: 7%;
  }

  .filter__items {
    width: auto;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    padding: 10px;
  }

  .text-page__h2 {
    max-width: 70%;
  }

  .map-block:before {
    display: none;
  }

  .map-block {
    top: 0;
    right: 0;
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .map-block #map {
    top: 0;
    right: 0;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 991.98px) {
  .nav {
    padding-top: 6px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .nav-ul {
    position: absolute;
    min-width: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    background-color: #b10f18;
    padding: 20px;
    top: 100px;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }

  .dark .nav-ul {
    color: #fff;
  }

  .header-menu__button-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .md-hidden {
    display: none;
  }

  .container {
    width: 720px;
  }

  .stock-container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 110px;
  }

  .stock__item_size-big,
  .media__item_size-big {
    width: 32%;
  }

  .stock__item_size-small,
  .media__item_size-small {
    width: 32%;
  }

  .stock-text_absolute {
    left: 0px;
  }

  .section-oil__about {
    padding-left: 0;
  }

  .oil-container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 110px;
  }

  .oil-container__top {
    padding-right: 100px;
  }

  .oil-items {
    width: 76.8%;
    height: -webkit-calc(100vh - 200px);
    height: calc(100vh - 200px);
    padding-bottom: 50px;
  }

  .oil__item {
    width: 50%;
  }

  .oil__img {
    height: 100px;
  }

  .map-container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 110px;
  }

  .section-oil--page {
    background-position: top left;
  }

  .section-oil--page .oil-container__top {
    padding-top: 15px;
    position: relative;
    z-index: 9;
  }

  .section-oil--page .oil-items {
    height: auto;
  }

  .media-body {
    background: url("../img/media-section-bs-md.png") no-repeat top right;
    background-size: auto 100vh;
  }

  .media__item_size-small {
    width: 33.33%;
  }

  .media__item_size-big {
    width: 66.66%;
  }

  .filter__items-outer.active {
    height: 360px;
    overflow-y: auto;
  }

  .card-body {
    background-position: top left;
  }

  .card-left {
    max-width: unset;
  }

  .card-right {
    display: none;
  }

  .md-card-right {
    display: block;
    margin-top: 50px;
  }

  .js-textpage__imgs .row-1 img {
    width: 170px;
  }

  .js-textpage__imgs .row-2 img {
    width: 120px;
  }

  .search__result {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .search__result-image {
    width: 100%;
    height: auto;
  }

  .search__result-info {
    padding-top: 15px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .header {
    background: #fff;
  }

  .footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  body {
    background-color: #f3f3f3;
  }

  .main {
    position: relative;
  }

  .main:before {
    content: "";
    position: absolute;
    top: 50px;
    z-index: 1;
    background: url("../img/header-bg.png") no-repeat bottom center;
    width: 100%;
    height: 350px;
  }

  .section {
    opacity: 1;
  }

  .section:after {
    display: none;
  }

  .container {
    width: 540px;
  }

  .section-about {
    background: url(../img/section-1-bg-mob.png) no-repeat bottom center;
    background-size: cover;
  }

  .about__video {
    display: none;
  }

  .about-container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 17%;
    position: absolute;
  }

  .about-container.hidden {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 17%;
  }

  .about-container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 17%;
  }

  .about__img {
    width: 80vw;
    height: auto;
  }

  .about-text {
    bottom: -8%;
    left: 30%;
    font-size: 30px;
  }

  .section-stock {
    background: unset;
    min-height: unset;
    height: auto !important;
  }

  .stock-container {
    top: 0px;
    padding-top: 35px;
    padding-bottom: 45px;
  }

  .stock__item,
  .media__item {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }

  .stock__title h3 {
    font-size: 14px;
  }

  .section-oil {
    background: unset;
    min-height: unset;
    height: auto !important;
    padding-bottom: 40px;
  }

  .oil-container {
    top: 0px;
  }

  .oil-container__top {
    padding-right: 0;
  }

  .oil-items {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }

  .map {
    position: static;
    height: 500px;
    margin-top: 30px;
  }

  .map-is {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-map {
    background: unset;
    height: auto !important;
    min-height: unset;
    padding-bottom: 50px;
  }

  .map-container {
    top: 0;
  }

  .section-map__about {
    max-width: unset;
  }

  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .map-input__text {
    background: #fff;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  .search-submit {
    margin-top: 20px;
  }

  .onepage-wrapper {
    height: auto;
  }

  .modal-products .oil-container {
    padding-top: 40px;
  }

  .onepage-pagination {
    display: none;
  }

  .media-body {
    background: #f3f3f3;
  }

  .media-header {
    position: fixed;
  }

  .media-container {
    padding-top: 120px;
    position: relative;
    z-index: 1;
  }

  .media__item_size-small {
    width: 50%;
  }

  .media__item_size-big {
    width: 100%;
  }

  main.padding {
    padding-top: 0;
  }

  .catalog__text {
    width: 100%;
    margin-top: 10px;
  }

  .catalog-items {
    padding-right: 0;
  }

  .catalog__item {
    width: 45%;
  }

  .catalog__item:not(:nth-child(3n)) {
    margin-right: 0%;
  }

  .catalog__item:not(:nth-child(2n)) {
    margin-right: 5%;
  }

  .filter__items {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .card-container {
    padding-top: 120px;
    position: relative;
    z-index: 1;
  }

  .card-body {
    background: #f3f3f3;
  }

  .card-table {
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
  }

  .card__th,
  .card__tr {
    min-width: 630px;
  }

  .card-left {
    width: 100%;
  }

  .textpage-container {
    position: relative;
    padding-top: 120px;
    z-index: 1;
    padding-bottom: 50px;
  }

  .textpage__text {
    width: 100%;
  }

  .textpage__imgs img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .text-page__h2 {
    max-width: unset;
  }

  .search {
    width: 100%;
    padding-bottom: 140px;
  }

  .search__field::-webkit-input-placeholder {
    color: transparent;
  }

  .search__field:-moz-placeholder {
    color: transparent;
  }

  .search__field::-moz-placeholder {
    color: transparent;
  }

  .search__field:-ms-input-placeholder {
    color: transparent;
  }

  .search__result-title {
    font-size: 16px;
  }

  .search__result p {
    font-size: 16px;
  }

  .company-info {
    padding-left: 0;
  }

  .company-info__status {
    padding-left: 0;
  }

  .company-info__text {
    padding-left: 0;
  }
}

@media only screen and (max-width: 575.98px) {
  .footer__worldwide {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    padding-left: 0;
    padding-bottom: 10px;
    color: #414141;
  }

  .footer__link {
    color: #414141;
    display: inline-block;
    padding-left: 10px;
    width: 60%;
  }

  .xs-hidden {
    display: none;
  }

  .main:before {
    height: 320px;
  }

  .h2-line {
    margin-left: -15px;
    font-size: 20px;
  }

  .container {
    width: 100%;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-about {
    overflow: hidden;
  }

  .about-text {
    font-size: 18px;
    width: 90%;
  }

  .section-stock {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .stock-container {
    top: 0;
  }

  .stock-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .stock__item:not(:last-child),
  .media__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .stock__item_size-big,
  .media__item_size-big {
    width: 100%;
    min-height: unset;
  }

  .stock__item_size-small,
  .media__item_size-small {
    width: 100%;
    min-height: unset;
  }

  .section-oil__about {
    max-width: unset;
    margin-top: 20px;
    padding-left: 20px;
  }

  .oil-container__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-map__about {
    padding-left: 20px;
  }

  .map-form {
    margin-top: 20px;
  }

  .map-input__text {
    width: 100%;
    font-size: 12px;
    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .modal-contact-inner {
    background: #fff;
    width: 80%;
  }

  .basic-modal-inner {
    background: #fff;
    width: 80%;
  }

  .stock__label {
    left: -15px;
    padding-left: 25px;
  }

  .stock__label::after {
    width: 120px;
  }

  .media-items {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .media__item {
    max-width: 300px;
  }

  .media__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .media__item_size-big {
    height: 60vh;
  }

  .media__item_size-big .stock__label {
    display: block;
  }

  .catalog-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .catalog-items {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .catalog__item {
    width: 100%;
    max-width: 400px;
  }

  .catalog__item:not(:nth-child(2n)) {
    margin-right: 0%;
  }

  .catalog-filter {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin: 0;
    padding-left: 0;
    position: relative;
    width: 100%;
  }

  .catalog-fiter-title {
    text-align: left;
    font-size: 15px;
    text-decoration: underline;
    padding-left: 10px;
    margin-top: 10px;
    color: #5579a0;
    cursor: pointer;
  }

  .filter__items {
    background-color: #f3f3f3;
    padding: 20px;
  }

  .filter__items span {
    color: #646464;
  }

  .filter__items-outer.active {
    display: block;
    height: 60vh;
    overflow-y: auto;
  }

  .filter__items-outer {
    width: 260px;
    margin: 0 auto;
    position: relative;
    top: -5px;
    opacity: 1;
    visibility: visible;
    display: none;
    padding-bottom: 20px;
  }

  .filter__title:after {
    background-color: #f3f3f3;
  }

  .filter__title {
    background: none;
  }

  .filter-tabs {
    width: 100%;
    max-width: 290px;
    min-width: unset;
  }

  .filter-form {
    background-color: #3b6597;
    position: absolute;
    width: 100%;
    max-width: 290px;
    padding-top: 15px;
    top: -webkit-calc(100% + 5px);
    top: calc(100% + 5px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .filter-form:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 30px;
    width: 10px;
    height: 10px;
    background-color: #3b6597;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.22s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.22s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .selected {
    color: #646464;
  }

  .card__title {
    font-size: 30px;
  }

  .card__img {
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }

  .card__link {
    color: transparent;
    width: 59px;
    overflow: hidden;
    padding-right: 0;
    height: 59px;
  }

  .card__link-container {
    position: absolute;
    top: 20px;
    left: 50%;
  }

  .md-card-right {
    position: relative;
  }

  .more-photo {
    display: block;
    position: absolute;
    left: -30%;
    top: 50%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #0048a0;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    left: -50px;
    top: 49%;
    cursor: pointer;
  }

  .textpage-content {
    height: auto;
    padding-left: 10px;
  }

  .textpage__imgs {
    position: relative;
  }

  .gallery-btn {
    display: none;
  }

  .company-info__btn {
    width: 160px;
    height: 45px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 575.98px) and (max-width: 575.98px) {
  .filter-form.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}