<div id="bg"></div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 footer__left">
				<p><f:cObject typoscriptObjectPath="lib.navigation.mapLink" /></p>
				<h3><f:cObject typoscriptObjectPath="lib.footerPhone" /></h3>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 logo footer__right">
				<f:cObject typoscriptObjectPath="lib.navigation.footermenu" />
				<f:cObject typoscriptObjectPath="lib.footerCopyright" />
				<f:cObject typoscriptObjectPath="lib.developerInfo" />
			</div>
		</div>
	</div>
</footer>

<f:cObject typoscriptObjectPath="lib.mMenu" />
<script>
	document.addEventListener(
			"DOMContentLoaded", () => {
				new Mmenu( "#menu", {
					"extensions": [
						"pagedim-black",
						"theme-dark"
					]
				});
			}
	);
</script>