<div class="row header flex-items-md-between">
	<div class="col-xs-12 col-sm-12 col-md-4 logo col">
		<f:cObject typoscriptObjectPath="lib.logo" />
	</div>
	<div class="col-xs-12 col-sm-12 -offset-md-3 col-md-8 contacts col">
		<div class="row flex-items-xs-right">
			<div class="col-xs-12 col-sm-12 col-md-7 col-lg-12 header__phone">
				<f:cObject typoscriptObjectPath="lib.footerPhone" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-12 header__map-link">
				<f:cObject typoscriptObjectPath="lib.navigation.mapLink" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<f:cObject typoscriptObjectPath="lib.smMenu" />
</div>