
<f:layout name="Default" />
<f:section name="main">


 <div id="slideshow-1" class="item-detail-gallery csc-textpic-imagewrap">
     <p>
        <a href="#" class="carousel-prev">&laquo; {f:translate(key: 'tx_t3devcarousel_domain_model_slide.prev')}</a> | 
        <a href="#" class="carousel-next">{f:translate(key: 'tx_t3devcarousel_domain_model_slide.next')} &raquo;</a>
        <span class="custom-caption"></span>
    </p>
    
    <div id="cycle-1" class="cycle-slideshow"
    		data-cycle-swipe=true
   	 		data-cycle-swipe-fx=scrollHorz    
        data-cycle-slides="> div.carousel-img"
        data-cycle-timeout="0"
        data-cycle-prev="#slideshow-1 .carousel-prev"
        data-cycle-next="#slideshow-1 .carousel-next"
        data-cycle-caption="#slideshow-1 .custom-caption"
        data-cycle-caption-template="{f:translate(key: 'tx_t3devcarousel_domain_model_slide')} {{slideNum}} {f:translate(key: 'tx_t3devcarousel_domain_model_slide.of')} {{slideCount}}"
        data-cycle-fx="fadeIn"
        >

<f:for each="{items}" as="item">
<f:for each="{item.image}" as="image"> 
<div class="carousel-img">       
		<f:image src="{image.originalResource.originalFile.uid}" alt="{image.originalResource.title}" width="800c" height="535c" />	
</div>
</f:for>
</f:for>
</div>
</div>

<div id="slideshow-2">
    <div id="cycle-2" class="cycle-slideshow"
    		data-cycle-swipe=true
   	 		data-cycle-swipe-fx=scrollHorz    
        data-cycle-slides="> div"
        data-cycle-timeout="0"
        data-cycle-prev="#slideshow-2 .carousel-prev"
        data-cycle-next="#slideshow-2 .carousel-next"
        data-cycle-caption="#slideshow-2 .custom-caption"
        data-cycle-caption-template="{f:translate(key: 'tx_t3devcarousel_domain_model_slide')} {{slideNum}} {f:translate(key: 'tx_t3devcarousel_domain_model_slide.of')} {{slideCount}}"
        data-cycle-fx="carousel"
        data-cycle-carousel-visible="5"
        data-cycle-carousel-fluid=true
        data-allow-wrap="false"
        >
        
	<f:for each="{items}" as="item">
	<f:for each="{item.image}" as="image"> 
		<div>
			<f:image src="{image.originalResource.originalFile.uid}" alt="{image.originalResource.title}" width="160c" height="110c" />
		</div>
		</f:for>
	</f:for>        
        
</div> 
    <p class="t3devcarousel__bottom-navigation">
        <a href="#" class="carousel-prev">&laquo; {f:translate(key: 'tx_t3devcarousel_domain_model_slide.prev')}</a>
        <a href="#" class="carousel-next">{f:translate(key: 'tx_t3devcarousel_domain_model_slide.next')} &raquo;</a>
    </p>     
</div>  

<script>
jQuery(document).ready(function($){

var slideshows = $('.cycle-slideshow').on('carousel-next carousel-prev', function(e, opts) {
    // advance the other slideshow
    slideshows.not(this).cycle('goto', opts.currSlide);
});

$('#cycle-2 .cycle-slide').click(function(){
    var index = $('#cycle-2').data('cycle.API').getSlideIndex(this);
    slideshows.cycle('goto', index);
});

});
</script>

</f:section>