{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form-line radio">
	<label for="powermail_field_{field.marker}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>
		<vh:Form.SelectField
				options="{field.modifiedSettings}"
				property="{field.marker}"
				class="powermail_ask powermail_select {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				id="powermail_field_{field.marker}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				multiple="{field.multiselectForField}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}" />

		<f:if condition="{field.multiselect}">
			<f:if condition="{settings.validation.client}">
				<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
			</f:if>
		</f:if>
</div>
