{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form-line">

	<label for="powermail_field_{field.marker}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<div class="float-left">
		<f:form.textarea
				cols="20"
				rows="5"
				id="powermail_field_{field.marker}"
				property="{field.marker}"
				placeholder="{field.placeholder}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				class="powermail_ask powermail_textarea {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
		</div>
</div>
