/* Dummy
 -------------------------------------------------- */
a, a:hover, a:focus {
  color: #d90007;
  text-decoration: underline; }

a img {
  border: 0 none; }

input, select {
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }

.footer a, .header a {
  color: #666; }

html {
  min-height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-flex: 1; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #d1d2d4 url(../Images/bg/bg_decoration_1.gif) 1000px 51px no-repeat;
  color: #333;
  font-size: 12px;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }

#bg {
  color: #fff;
  background: url(../Images/bg/bg_wrap.gif) left 106px no-repeat;
  padding: 105px 0 0 0;
  height: 345px;
  width: 40px;
  position: absolute;
  left: 0;
  top: 0; }

.main {
  width: 100%;
  max-width: 1000px;
  min-width: 240px;
  margin: 0;
  box-sizing: border-box; }
/* Content
 -------------------------------------------------- */
.container-inner {
  padding: 0 40px 0 50px;
  border-left: solid 40px #333;
  border-right: solid 20px #c4c6c8;
  margin: 0 200px 0 0;
  min-height: 100%;
  background: #fff;
  min-height: 600px; }

.content {
  margin-top: 30px; }
  .content p {
    line-height: 16px;
    margin: 19px 0; }
  .content h1 {
    font-size: 24px;
    color: #d90007;
    font-weight: normal;
    margin: 0 0 19px 0; }
  .content h2 {
    font-size: 18px;
    line-height: 16px;
    font-weight: normal;
    margin: 19px 0; }
  .content h2.inside {
    font-size: 18px;
    line-height: 16px;
    font-weight: normal;
    margin: 10px 0; }
  .content h3 {
    font-size: 14px;
    margin: 19px 0 5px 0; }
  .content h4 {
    font-size: 14px;
    padding-bottom: 20px; }
  .content li {
    margin: 0 0 15px 20px; }

.banner {
  margin: 0 0 29px 0;
  float: left;
  background: #a7a9ac right top no-repeat;
  padding: 0 0 0 20px;
  width: 100%;
  max-width: 242px;
  height: 105px;
  border-left: solid 10px #e3e4e6;
  /*a {
   display: block; 
   width: 150px;
   }*/ }
  .banner h2 {
    color: #fff;
    font-size: 18px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 10px 0 10px; }
  .banner p {
    margin: 5px 0; }
  .banner h3 {
    font-size: 14px;
    margin: 19px 0 5px 0; }
  .banner a:hover {
    text-decoration: underline; }
  .banner span {
    padding: 0 20px 0 0;
    background: url(../Images/icons/ico-arrow-white.gif) right 6px no-repeat; }
/* News
 -------------------------------------------------- */
.news-item-row {
  margin-top: 30px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px !important; }
  .news-item-row p {
    margin: 5px 0; }
  .news-item-row h3 {
    padding: 0;
    margin: 0;
    font-size: 14px; }

.news-single h1 {
  color: #000 !important;
  font-size: 18px; }

a.link-back, p.back-to-list a {
  line-height: 20px;
  padding: 0 0 0 20px;
  background: url(../Images/icons/ico-arrow-red-back.gif) left 7px no-repeat; }

.lightgrey {
  font-size: 14px;
  margin: 5px 0 2px 0;
  display: block;
  color: #a7a9ac; }
/* Row Images
 -------------------------------------------------- */
.row-images-list .csc-textpic-image img {
  max-width: 100% !important;
  width: auto !important;
  height: auto; }

.csc-textpic-image img {
  border: 10px solid #f0f1f2;
  padding: 0px 0px;
  display: block; }

.csc-textpic-imagewrap {
  max-width: 100% !important; }

.row-images-list {
  margin-left: -15px;
  margin-right: -15px; }
/* Gallery
 -------------------------------------------------- */
.gallery {
  width: 100%;
  margin-left: 2%; }
  .gallery__item {
    width: 31%;
    float: left;
    min-height: 190px;
    margin-right: 2%; }
  .gallery__item img {
    width: 100%;
    height: auto; }
  .gallery__item-caption {
    text-align: center; }
/* Table 
 -------------------------------------------------- */
table img {
  padding: 0 5px !important; }
/* Custom content elemnets
 -------------------------------------------------- */
.course-block {
  border: 1px dashed #316ac5 !important;
  padding: 10px 1px;
  margin-bottom: 20px; }
  .course-block__description h2 {
    line-height: 26px; }
  .course-block__more {
    float: right;
    font-size: 18px;
    margin-right: 30px; }
  .course-block img {
    width: 100%;
    height: auto; }
/* FCE Teachers
 -------------------------------------------------- */
/*.master { 
 float: left; 
 margin: 20px 0 20px 0; 
 .image {
 float: left; 
 width: 100px; 
 margin: 0 20px 0 0;     
 }
 .description {
 margin: 0 0 0 120px;     
 }
 }*/
/*
 .teacher__image {
 marfin-top: 30px;
 }
 */
/* Left column
 -------------------------------------------------- */
.left-column {
  margin-left: 0;
  padding-left: 0; }
  .left-column .row-images-list .csc-textpic-image img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important; }
  .left-column .csc-textpic-image img {
    border: none; }

.left-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px; }
  .left-menu li {
    padding: 0 0 3px 0; }
    .left-menu li a {
      color: #d90007;
      line-height: 15px;
      display: block;
      padding: 5px 0 5px 10px;
      text-decoration: underline; }
  .left-menu li.active a, .left-menu li a:hover {
    color: #333;
    background: #f0f1f2;
    /*background: #F0F1F2 url(../Images/icons/ico-arrow-red.gif) 251px 13px no-repeat; */ }
  .left-menu li.active a {
    text-decoration: none; }
  .left-menu li.active a:hover {
    text-decoration: underline; }
/* Right column
 -------------------------------------------------- */
.right-column {
  padding-left: 25px;
  border-left: solid 11px #f0f1f2; }
/* Footer
 -------------------------------------------------- */
.footer {
  width: 100%;
  max-width: 1000px;
  min-width: 240px;
  min-height: 81px;
  color: #000;
  padding: 15px;
  box-sizing: border-box;
  border-left: solid 40px #333;
  border-right: solid 20px #c4c6c8;
  background: #fff url(../Images/bg/bg_center.jpg) left bottom no-repeat; }
  .footer__right {
    margin-left: -30px; }
  .footer__menu {
    list-style: none;
    margin: 0 0 30px -40px;
    float: left;
    font-size: 10px; }
    .footer__menu li {
      float: left; }
      .footer__menu li span {
        font-size: 10px;
        padding: 0 8px;
        color: #d1d2d4; }
  .footer__left p {
    font-size: 10px; }
    .footer__left h3 {
      font-size: 18px;
      color: #333; }
  .footer__info {
    color: #a7a9ac;
    font-size: 10px; }

.developer a {
  color: #d90007; }

#toTop {
  width: 100px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: verdana;
  font-size: 11px;
  z-index: 99999; }
