<f:render partial="Header/Header" arguments="{_all}" />

<main class="main padding">
    <section class="{data.section_class}">
        <f:if condition="{data.hide_container} == 1">
            <f:then>
                <f:render partial="Header/Breadcrumb" arguments="{_all}" />
                <f:render section="content" />
            </f:then>
            <f:else>
                <div class="{data.container_class}">
                    <f:render partial="Header/Breadcrumb" arguments="{_all}" />
                    <f:render section="content" />
                </div>
            </f:else>
        </f:if>
    </section>
</main>

<f:render partial="Footer/Footer" arguments="{_all}" />